{#
/*
 *
 * items: Rendered Items
 *
 */
#}
<section class="news-portada clearfix">
  <div class="news-portada-content">
    {% for item in items %}
      {{ item }}
    {% endfor %}
  </div>
</section>
